<link rel="stylesheet" href="/css/profile.css">
<!-- MAIN HOME PAGE -->
<section class="outer-container ">

    <!-- Album Section -->
    <section class="album ms-5">

        <!-- First Row -->
        <div>
            <h4 class="mb-3 text-white">Album Covers</h4>
        </div>
        <div class="first-row">
            <div class="mb-3">
                <img src="/images/salsa.jfif" class="img-size" alt="">
            </div>
            <div class="mb-3">
                <img src="/images/rock.jfif" class="img-size" alt="">
            </div>
            <div class="mb-3">
                <img src="/images/metal.jfif" class="img-size" alt="">
            </div>
        </div>

        <!-- Latest Release -->
        <div>
            <h4 class="mt-5 mb-3 text-white">Latest Release</h4>
        </div>
        <div class="latest-release mb50px">
            <div class="card mb-3 latest-one">
                <div class="row g-0">
                    <div class=" col-md-4 latest-release-container">
                        <div class=" latest-release-image">
                            <img src="/images/adventures.jfif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="play-btn">
                            <a href="/users/mc/?name=Adventures&songImgPath=/images/adventures.jfif&songAudioPath=/songs/Latest_Release/adventures.mp3"
                                style="color:white"><i class="fa-solid fa-play"></i></a>
                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="card-body cardst">
                            <span class="text-white latest-btn">
                                <div class="dropdown">
                                    <button class="btn btn-dot" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="border: none;">
                                        <i class="fa-solid fa-ellipsis text-white"></i>
                                        <p class="text-white">2:24</p>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-play me-3"></i>Play
                                                Now</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/queue/create?id=1&name=Adventures&imagePath=/images/adventures.jfif"><i
                                                    class="fa-solid fa-plus me-3"></i>Add
                                                To Queue</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/favorite/create?id=1&name=Adventures&imagePath=/images/adventures.jfif">
                                                <i class="fa-solid fa-list me-3"></i>
                                                Add To Favorite</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i
                                                    class="fa-solid fa-circle-question me-3"></i>Get info</a></li>
                                    </ul>
                                </div>
                            </span>
                            <h5 class="card-title text-white mt-5">Adventures</h5>
                            <p class="card-text text-secondary">August 18th,2017</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 latest-one">
                <div class="row g-0">
                    <div class=" col-md-4 latest-release-container">
                        <div class=" latest-release-image">
                            <img src="/images/black-box.jfif" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="play-btn">
                            <a href="/users/mc/?name=Black-Box&songImgPath=/images/black-box.jfif&songAudioPath=/songs/Latest_Release/adventures.mp3"
                                style="color:white"><i class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body cardst">
                            <span class="text-white latest-btn">
                                <div class="dropdown">
                                    <button class="btn btn-dot" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="border: none;">
                                        <i class="fa-solid fa-ellipsis text-white"></i>
                                        <p class="text-white">1:32</p>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-play me-3"></i>Play
                                                Now</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/queue/create?id=2&name=Black-Box&imagePath=/images/black-box.jfif"><i
                                                    class="fa-solid fa-plus me-3"></i>Add
                                                To Queue</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/favorite/create?id=2&name=Black-Box&imagePath=/images/black-box.jfif"><i
                                                    class="fa-solid fa-list me-3"></i>Add
                                                To Favorite</a></li>
                                        <li><a class="dropdown-item" href="#"><i
                                                    class="fa-solid fa-circle-question me-3"></i>Get info</a></li>
                                    </ul>
                                </div>
                            </span>
                            <h5 class="card-title text-white mt-5">Black-Box</h5>
                            <p class="card-text text-secondary">July 8th,2008</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 latest-one">
                <div class="row g-0">
                    <div class=" col-md-4 latest-release-container">
                        <div class=" latest-release-image">
                            <img src="/images/fun-punk.jfif" class="img-fluid rounded-start latest-img" alt="...">
                        </div>
                        <div class="play-btn">
                            <a href="/users/mc/?name=Fun-Punk&songImgPath=/images/fun-punk.jfif&songAudioPath=/songs/Latest_Release/adventures.mp3"
                                style="color:white"><i class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body cardst">
                            <span class="text-white latest-btn">
                                <div class="dropdown">
                                    <button class="btn btn-dot" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="border: none;">
                                        <i class="fa-solid fa-ellipsis text-white"></i>
                                        <p class="text-white">0:55</p>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-play me-3"></i>Play
                                                Now</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/queue/create?id=3&name=Fun-Punk&imagePath=/images/fun-punk.jfif"><i
                                                    class="fa-solid fa-plus me-3"></i>Add
                                                To Queue</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/favorite/create?id=3&name=Fun-Punk&imagePath=/images/fun-punk.jfif"><i
                                                    class="fa-solid fa-list me-3"></i>Add
                                                To Favorite</a></li>
                                        <li><a class="dropdown-item" href="#"><i
                                                    class="fa-solid fa-circle-question me-3"></i>Get info</a></li>
                                    </ul>
                                </div>
                            </span>
                            <h5 class="card-title text-white mt-5">fun-punk</h5>
                            <p class="card-text text-secondary">July 18th,2014</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 latest-one">
                <div class="row g-0">
                    <div class=" col-md-4 latest-release-container">
                        <div class="latest-release-image">
                            <img src="/images/old.jfif" class="img-fluid rounded-start latest-img" alt="...">
                        </div>
                        <div class="play-btn">
                            <a href="/users/mc/?name=Old&songImgPath=/images/old.jfif&songAudioPath=/songs/Latest_Release/adventures.mp3"
                                style="color:white"><i class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body cardst">
                            <span class="text-white latest-btn">
                                <div class="dropdown">
                                    <button class="btn btn-dot" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="border: none;">
                                        <i class="fa-solid fa-ellipsis text-white"></i>
                                        <p class="text-white">2:20</p>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-play me-3"></i>Play
                                                Now</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/queue/create?id=4&name=Old&imagePath=/images/old.jfif"><i
                                                    class="fa-solid fa-plus me-3"></i>Add
                                                To Queue</a></li>
                                        <li><a class="dropdown-item"
                                                href="/users/favorite/create?id=4&name=Old&imagePath=/images/old.jfif"><i
                                                    class="fa-solid fa-list me-3"></i>Add
                                                To Favorite</a></li>
                                        <li><a class="dropdown-item" href="#"><i
                                                    class="fa-solid fa-circle-question me-3"></i>Get info</a></li>
                                    </ul>
                                </div>
                            </span>
                            <h5 class="card-title text-white mt-5">Old</h5>
                            <p class="card-text text-secondary">May 21th,2003</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Popular Artist Section -->
        <div>
            <h4 class="mt-5 mb-3 text-white">Popular Artists</h4>
        </div>
        <div class="popular-artist mb50px">
            <div class="artist">
                <div class="artist-img">
                    <img class="artist-img-size shadow" src="/artist/charliePuth.jfif" alt="">
                </div>
                <div class="play">
                    <a href="/users/artist/?id=0">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <p class="text-white text-center mt-2">Charlie Puth</p>
            </div>
            <div class="artist">
                <div class="artist-img">
                    <img class="artist-img-size shadow" src="/artist/coldPlay.jfif" alt="">
                </div>
                <div class="play">
                    <a href="/users/artist/?id=1">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <p class="text-white text-center mt-2">ColdPlay</p>
            </div>
            <div class="artist">
                <div class="artist-img">
                    <img class="artist-img-size shadow" src="/artist/justin.jfif" alt="">
                </div>
                <div class="play">
                    <a href="/users/artist/?id=2">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <p class="text-white text-center mt-2">Justin</p>
            </div>
            <div class="artist">
                <div class="artist-img">
                    <img class="artist-img-size shadow" src="/artist/edSheeran.jfif" alt="">
                </div>
                <div class="play">
                    <a href="/users/artist/?id=3">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <p class="text-white text-center mt-2">Ed Sheeran</p>
            </div>
            <div class="artist">
                <div class="artist-img">
                    <img class="artist-img-size shadow" src="/artist/brunoMars.jfif" alt="">
                </div>
                <div class="play">
                    <a href="/users/artist/?id=4">
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
                <p class="text-white text-center mt-2">Bruno Mars</p>
            </div>


        </div>

        <!-- Stations-Section -->
        <div class="station mb50px">
            <img src="/station/music-station.jfif" alt="" height="150rem" width="155rem" class="m-2">
            <img src="/station/chill.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="chill">Chill</div>
            <img src="/station/love.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="love">Love</div>
            <img src="/station/pop.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="pop">Pop</div>
            <img src="/station/retro.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="retro">Retro</div>
            <img src="/station/rock.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="rock">Rock</div>
            <img src="/station/workout.jfif" alt="" class="station-img-size mt-3">
            <div class="station-text text-white" id="workout">Workout</div>
        </div>

        <!-- Category -->
        <div class="category-container mb50px">
            <img src="/category/electronic.jfif" alt="">
            <div class="category-text text-white" id="electronic">Electronic</div>
            <img src="/category/party.jfif" alt="">
            <div class="category-text text-white" id="party">Party</div>
            <img src="/category/roadtrip.jfif" alt="">
            <div class="category-text text-white" id="roadtrip">Road Trip</div>
        </div>

        <!-- Latest English -->
        <div>
            <h4 class=" mb-3 text-white">Latest English</h4>
        </div>
        <div class="latest-english">
            <div class="english-song">
                <img src="/images/English/e1.png" alt="" class="english-img-size">
                <p class="song-name text-white">Celtic</p>
                <p class="song-date text-white">FEB 11th,2017</p>
                <div class="le-btn">
                    <a href="/users/mc/?name=Celtic&songImgPath=/images/English/e1.png&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>

            </div>
            <div class="english-song">
                <img src="/images/English/e2.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">English Waltz</p>
                <p class="song-date text-white">DEC 21th,2007</p>
                <audio src="/songs/Latest_English/english-waltz.mp3" class="le-audio"></audio>
                <div class="le-btn">
                    <a href="/users/mc/?name=English Waltz&songImgPath=/images/English/e2.jfif&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/English/e3.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Green Sleeves</p>
                <p class="song-date text-white">JUN 29th,2003</p>
                <audio src="/songs/Latest_English/greensleeves.mp3" class="le-audio"></audio>
                <div class="le-btn">
                    <a href="/users/mc/?name=Green Sleeves&songImgPath=/images/English/e3.jfif&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/English/e4.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Scarborough</p>
                <p class="song-date text-white">SEP 19th,1997</p>
                <audio src="/songs/Latest_English/scarborough.mp3" class="le-audio"></audio>
                <div class="le-btn">
                    <a href="/users/mc/?name=Scarborough&songImgPath=/images/English/e4.jfif&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/English/e5.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Victorian</p>
                <p class="song-date text-white">AUG 07th,2002</p>
                <audio src="/songs/Latest_English/the-victorian.mp3" class="le-audio"></audio>
                <div class="le-btn">
                    <a href="/users/mc/?name=Victorian&songImgPath=/images/English/e5.jfif&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/English/e6.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">When You Are</p>
                <p class="song-date text-white">NOV 30th,2015</p>
                <audio src="/songs/Latest_English/when-you.mp3" class="le-audio"></audio>
                <div class="le-btn">
                    <a href="/users/mc/?name=When You Are&songImgPath=/images/English/e6.jfif&songAudioPath=/songs/Latest_English/celtic.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
        </div>

        <!-- Latest Hindi -->
        <div>
            <h4 class="mb-3 text-white">Latest Hindi</h4>
        </div>
        <div class="latest-english" style="margin-bottom: 100px;">
            <div class="english-song">
                <img src="/images/Hindi/bajrangi.jfif" class="english-img-size">
                <p class="song-name text-white">Bhar do Jholi</p>
                <p class="song-date text-white">JUL 17th,2015</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Bhar do Jholi&songImgPath=/images/Hindi/bajrangi.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/Hindi/besabriyan.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Besabriyan</p>
                <p class="song-date text-white">SEP 30th,2016</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Besabriyan&songImgPath=/images/Hindi/besabriyan.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/Hindi/bulleya.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Bulleya</p>
                <p class="song-date text-white">OCT 28th,2016</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Bulleya&songImgPath=/images/Hindi/bulleya.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/Hindi/roy.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Sooraj Dooba</p>
                <p class="song-date text-white">FEB 13th,2015</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Sooraj Dooba&songImgPath=/images/Hindi/roy.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/Hindi/shandar.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Shaandaar</p>
                <p class="song-date text-white">OCT 22th,2015</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Shaandaar&songImgPath=/images/Hindi/shandar.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
            <div class="english-song">
                <img src="/images/Hindi/sultan.jfif" alt="" class="english-img-size">
                <p class="song-name text-white">Jag Ghoomeya</p>
                <p class="song-date text-white">JUL 6th,2016</p>

                <div class="le-btn">
                    <a href="/users/mc/?name=Jag Ghoomeya&songImgPath=/images/Hindi/sultan.jfif&songAudioPath=/songs/Latest_Hindi/Bajrangi.mp3"
                        style="color:white"><i class="fa-solid fa-play"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Queue Section -->
    <section class="queue">
        <span class="queue-header">
            <h3 class="text-white mb-5">Queue</h3>
            <p class="text-white">
            <div class="dropdown qdropdown ms-5">
                <button class="btn dropdown-toggle queue-btn ms-5" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Queue
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">PlayList
                            <hr>
                        </a></li>
                    <li><a class="dropdown-item" href="/users/favorite/favPage">Favourite Songs</a></li>
                </ul>
            </div>
            </p>
        </span>
        <div class="inner-queue text-white">
            <ol type="1" style="font-size: 1.3rem;">
                <% queue.forEach((q)=> { %>
                    <li id="queue-<%=q._id %>">
                        <span>
                            <img src="<%=q.songImgPath%>" height="80px" alt="" class="mx-3">
                            <strong style="font-size: 1.3rem;">
                                <%=q.songName%>
                            </strong>
                            <span class="delete" id=`${q.id}`>
                                <a class="delete-post-button" href="/users/queue/destroy/<%=q.id %>"><button
                                        class="delete-btn"><i class="fa-solid fa-trash"></i></button></a>
                            </span>

                        </span>
                    </li>
                    <hr style="color: white;">

                    <%})%>

            </ol>
        </div>
        <!-- Trending Section -->
        <section>
            <div>
                <h3 class="text-white mb-5">Trending Songs</h3>
                <div class="inner-queue text-white">
                    <ol style="font-size: 1.3rem;">
                        <% aggr.forEach((a)=> { %>
                            <%if(a._id){%>
                                <li id="trending-<%=a._id %>">

                                    <span>
                                        <img src="<%=a.songImgPath%>" height="80px" alt="" class="mx-3">
                                        <strong style="font-size: 1.3rem;">
                                            <%=a.songName%>
                                        </strong>
                                    </span>


                                </li>
                                <hr style="color: white;">
                                <%}%>

                                    <%})%>

                    </ol>
                </div>
            </div>
        </section>

    </section>


</section>